 .un-bloc-vacances {
  border: 1px solid black;
  padding: 1%;
  margin: 1%;
  width:45%;
  float:left;
  
}

.un-bloc-vacances .une-ligne .libelle {
  font-weight: bold;
  color: red;
  margin-right: 5px;
}

.un-bloc-vacances .une-ligne .libelle::after {
  content: " :";
}